<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Sharey</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/assets/AdminLTE/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/AdminLTE/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="/assets/AdminLTE/dist/css/skins/skin-red.min.css">
    <link rel="stylesheet" href="/assets/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/assets/AdminLTE/plugins/datepicker/datepicker3.css" />
    <link rel="stylesheet" href="/assets/AdminLTE/plugins/datatables/dataTables.bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="{block bodyClassName}hold-transition skin-red sidebar-mini{/block}">
{block body}
    <div class="wrapper">
        {include '@header.latte'}
        {include '@menu.latte'}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>{$flash->message}</div>
            {include content}
        </div>
        {include '@footer.latte'}
        {include '@sidebar.latte'}
    </div>
    {include '@scripts.latte'}
{/block}
</body>
</html>
