<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="/assets/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/assets/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/AdminLTE/dist/js/app.min.js"></script>
<script src="/assets/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/moment/min/moment-with-locales.min.js"></script>
<script src="/assets/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/js/jquery-birthday-picker.min.js"></script>
<script src="/assets/js/netteForms.min.js"></script>
<script src="/assets/js/custom.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->