{block bodyClassName}hold-transition login-page{/block}
{block body}
<div class="login-box">
    <div class="login-logo">
        <h1>{*<img src="/assets/images/logo.png" width="50">*}</h1>
    </div>
    <div class="login-box-body">
        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>{$flash->message}</div>
        <p class="login-box-msg"></p>
        {control loginForm}
    </div>
</div>
{include '../@scripts.latte'}