{block #content}
    <section class="content-header">
        <h1>__CLASS_NAME_SEPARATED__ List
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a n:href="__CLASS_NAME__:default"><i class="fa fa-dashboard"></i> __CLASS_NAME_SEPARATED__ List</a></li>
        </ol>
    </section>
    <section class="content">
        {control __CLASS_NAME_LCF__Form}
        {$table->render()|noescape}
    </section>
{/block}