{block #content}
    <section class="content-header">
        <h1>__CLASS_NAME_SEPARATED__ Detail
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a n:href="__CLASS_NAME__:detail"><i class="fa fa-dashboard"></i> __CLASS_NAME_SEPARATED__ Detail</a></li>
        </ol>
    </section>
    <section class="content">
        {$orm->__toString()|noescape}
    </section>
{/block}